.pictures_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 2%;
}
.picture_container {
    border-radius: 15%;
    width: max(100px, 20vw);
    height: max(100px, 20vw);
}

.picture {
    object-fit: cover;
    border-radius: 15%;
}
