.link_on {
  color: white;
  background-color: lightblue;
}

.link_off {
  color: grey;
  background-color: white;
}

.link {
display: flex;
align-items: center;
justify-content: center;
gap: 10px;
background-color: rgba(128, 128, 128, 0.5);
padding: 10px;
font-size: clamp(1rem, 2vw, 2rem);
height: 48px;
}

.link_icon {
  width: 1rem;
}