.main {
  display: grid;
  grid: auto / auto;
  place-items: center;
  min-height: 100vh;
  background: rgb(var(--background-start-rgb));
}

.title {
  font-size: clamp(1rem, 10vw, 5rem);
}

.image {
  border-radius: 30% 10%;
}

.image_container:hover ~ .image_text {
  display: block;
  animation: 1s ease-in forwards slideRight;
}

@keyframes slideRight {
  from {
    transform: translateX(-7rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.image_text {
  opacity: 0;
  margin: 10px;
  font-size: clamp(1rem, 3vw, 3rem);
}
@media (max-width: 1200px) {
  .image_text {
    opacity: 1;
  }
}
.countdownTimer {
  font-size: clamp(1rem, 10vw, 5rem);
}
